[Unit]
Description=Prometheus remote_node_exporter
After=network.target

[Service]
Type=simple
Environment="PORT=9100"
Environment="SSH_HOST=localhost"
Environment="SSH_USER=phuslu"
Environment="SSH_PASSWORD=123456"
ExecStart=/bin/bash -c 'exec ./remote_node_exporter &>> /dev/null'
WorkingDirectory=/opt/consul/contrib/node_exporter
#Restart=always
Restart=on-abort
RestartSec=3
#User=nobody
User=%i
Group=users

[Install]
WantedBy=multi-user.target

